.add-question {
    background-color: rgba(184, 202, 202, 0.599);
    height: 1500px;
}

.add-questions-container {
    width: 1000px;
    height: 200vh;
}

.head-title {
    font-size: larger;
    margin-left: 300px;
}

.discription {
    border: 1px solid rgba(150, 30, 30, 0.342);
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: rgba(191, 190, 193, 0.601);
}

.Question-instruction {
    margin:10px 50px;
    font-style: oblique;
}

.normal-instruction {
    margin-left: 50px;
    font-style: oblique;
}

.steps {
    margin-left: 19px;
    font-weight: 700;
    font-style: oblique;
    list-style-type: none;
}

.instruction {
    margin-left: 60px;
    line-height: 2cqi;
    font-style: oblique;
}

.question-title {
    margin-left: 80px;
    margin-top: 50px;
    border: 1px solid rgba(150, 30, 30, 0.342);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.785);
    height: 170px;
}

.title {
    font-size:large;
    margin: 10px 20px;
}

.title-desc {
    font-size:small;
    margin: 2px 20px;
}

.question-title > input{
    width: 800px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-style: oblique;
}

.question-title > button {
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1cqi;
}

.question-option-body {
    border: 2px solid black;
    height: 500px;
    margin-left: 80px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.785);
    border: 1px solid rgba(150, 30, 30, 0.342);
}

.question-option-body {
    border-radius: 5px;
}

.body-title >h3{
    font-size: x-small;
    margin: 10px 30px;
    font-size:large;
}

.body-title > small {
    font-size: small;
    margin: 10px 30px;
}

.react-quill {
    height:320px;
    margin: 0 30px 0 30px;
    border-radius: 10px!important;
    border: 1cqmax;
}

.question-option-body > button {
    margin-top: 50px;
    margin-left: 30px;
    line-height: 1cqi;
}

.question-tags {
    border: 1px solid rgba(150, 30, 30, 0.342);
    margin-left: 80px;
    margin-top: 50px;
    background-color: aliceblue;
    border-radius: 5px;
}

.add-question > button {
    margin-top: 12rem;
    margin-left: 80px;
}
